body {
    text-align:center;
    background-color: white;
}

#gauge {
    width:400px;
    margin: auto;
}

#temperature {
    width: 100%;
    margin: auto;
}

#periodtext {
    margin-top: 10px;
}

#loading {
    margin: 50px;
}
